<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.oneone1995.mvolunteer.mapper.ActivityMapper">
    <!-- 查询包装有志愿者信息的活动详情的ResultMap -->
    <resultMap id="ActivityResultMap"
               type="com.github.oneone1995.mvolunteer.domain.Activity">
        <!-- 活动信息 -->
        <id column="activity_id" property="id"/>
        <result column="name" property="organization"/>
        <result column="description" property="description"/>
        <result column="recruit_time" property="recruitTime"/>
        <result column="time" property="time"/>
        <result column="address" property="address"/>
        <result column="activity_working_hours" property="workingHours"/>
        <result column="principal_name" property="principalName"/>
        <result column="principal_contact" property="principalContact"/>
        <result column="service_type" property="serviceType"/>

        <!-- 志愿者信息 -->
        <collection property="volunteers" ofType="com.github.oneone1995.mvolunteer.domain.VolunteerInfo">
            <id column="id" jdbcType="INTEGER" property="id" />
            <result column="name" jdbcType="VARCHAR" property="name" />
            <result column="id_card" jdbcType="VARCHAR" property="idCard" />
            <result column="sex" jdbcType="INTEGER" property="sex" />
            <result column="age" jdbcType="INTEGER" property="age" />
            <result column="birthday" jdbcType="DATE" property="birthday" />
            <result column="political_status" jdbcType="VARCHAR" property="politicalStatus" />
            <result column="address" jdbcType="VARCHAR" property="address" />
            <result column="address_province" jdbcType="VARCHAR" property="addressProvince" />
            <result column="address_city" jdbcType="VARCHAR" property="addressCity" />
            <result column="working_hours" jdbcType="DOUBLE" property="workingHours" />
            <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        </collection>
    </resultMap>

    <!-- 查询所有活动的sql片段 -->
    <sql id="selectActivitySql">
        SELECT
            activity.id id,
            activity.address_district district ,
            activity.coord_long coordLong,
            activity.coord_lat coordLat,
            activity.recruit_person_number recruitPersonNumber,
            activity.picture picture,
            activity.name name,
            COUNT(if(activity_user.activity_user_status_id=2, TRUE, NULL)) AS recruitedPersonNumber,
            ROUND(
                    6378.138 * 2 * ASIN(
                            SQRT(
                                    POW(
                                            SIN(
                                                    (
                                                        #{coordLat} * PI() / 180 - activity.coord_lat * PI() / 180
                                                    ) / 2
                                            ),
                                            2
                                    ) + COS(#{coordLat} * PI() / 180) * COS(activity.coord_lat * PI() / 180) * POW(
                                            SIN(
                                                    (
                                                        #{coordLong} * PI() / 180 - activity.coord_long * PI() / 180
                                                    ) / 2
                                            ),
                                            2
                                    )
                            )
                    )
            ) AS distance
        FROM
            activity_user
            RIGHT OUTER JOIN activity ON activity_id = activity.id
    </sql>

    <!-- 根据活动id分组并依时间戳排序的sql片段 -->
    <sql id="groupByAndOrderBySql">
        GROUP BY
        activity.id
        ORDER BY
        activity.`timestamp`
    </sql>

    <!-- 根据活动名字模糊搜索的where条件sql片段 -->
    <sql id="conditionByActivityNameSql">
        <where>
            <if test="activityName!=null">
                AND activity.name LIKE '%${activityName}%'
            </if>
        </where>
    </sql>

    <!-- 根据活动类别查询的where条件sql片段 -->
    <sql id="conditionByCategorySql">
        <where>
            <if test="category!=null">
                AND activity.service_type = #{category}
            </if>
            <if test="district!=null">
                AND activity.address_district = #{district}
            </if>
        </where>
    </sql>

    <!-- 根据活动用户关系表id更新 -->
    <update id="updateSignStatusByPrimaryKey">
        UPDATE activity_user
        SET sign_in_status = 1
        WHERE
            id = #{id}
    </update>

    <!-- 根据活动添加时间排序查询活动列表返回
        并根据参数中的经纬度求出距离并将其包装进HomeActivity中 -->
    <select id="selectAllOderByTime" resultType="com.github.oneone1995.mvolunteer.domain.HomeActivity">
        <include refid="selectActivitySql"/>
        <include refid="groupByAndOrderBySql"/>
    </select>

    <!-- 根据活动名字模糊搜索对应的活动列表返回
         并根据参数中的经纬度求出距离并将其包装进HomeActivity中-->
    <select id="selectByActivityName" resultType="com.github.oneone1995.mvolunteer.domain.HomeActivity">
        <include refid="selectActivitySql"/>
        <include refid="conditionByActivityNameSql"/>
        <include refid="groupByAndOrderBySql"/>
    </select>

    <!-- 根据活动category查询对应的活动列表返回
         并根据参数中的经纬度求出距离并将其包装进HomeActivity中-->
    <select id="selectByCategory" resultType="com.github.oneone1995.mvolunteer.domain.HomeActivity">
        <include refid="selectActivitySql"/>
        <include refid="conditionByCategorySql"/>
        <if test="collation==0">
            <include refid="groupByAndOrderBySql"/>
        </if>
        <if test="collation==1">
            GROUP BY
            activity.id
            ORDER BY
            distance
        </if>
    </select>

    <!-- 根据活动id返回活动详情 -->
    <select id="selectByPrimaryKey" resultMap="ActivityResultMap">
        SELECT
            activity_id,
            organization_info.`name`,
            activity.description,
            activity.recruit_time,
            activity.time,
            activity.address,
            activity.working_hours activity_working_hours,
            activity.principal_name,
            activity.principal_contact,
            activity.service_type,
            volunteer_info.*
        FROM
            activity
            JOIN activity_user ON activity_user.activity_id = activity.id
            JOIN organization_info ON activity.organization_id = organization_info.id
            JOIN volunteer_info ON activity_user.user_id = volunteer_info.id
        WHERE
            activity.id = #{id}
            AND activity_user_status_id = 2
    </select>

    <!-- 根据活动code和用户id返回该记录在活动用户关系表中的主键id -->
    <select id="selectByCode" resultType="java.lang.Integer">
        SELECT
            activity_user.id
        FROM
            activity
            JOIN activity_user ON activity_id = activity.id
        WHERE
            CODE = #{code}
            AND user_id = #{id}
            AND activity_user_status_id = 2
    </select>
</mapper>