<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.oneone1995.mvolunteer.mapper.ActivityUserMapper">
  <resultMap id="BaseResultMap" type="com.github.oneone1995.mvolunteer.domain.ActivityUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="activity_id" jdbcType="INTEGER" property="activityId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="activity_user_status_id" jdbcType="INTEGER" property="activityUserStatusId" />
    <result column="star" jdbcType="DOUBLE" property="star" />
    <result column="sign_in_status" jdbcType="INTEGER" property="signInStatus" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activity_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.github.oneone1995.mvolunteer.domain.ActivityUser">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into activity_user (activity_id, user_id, activity_user_status_id, 
      star, sign_in_status)
    values (#{activityId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{activityUserStatusId,jdbcType=INTEGER}, 
      #{star,jdbcType=DOUBLE}, #{signInStatus,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.github.oneone1995.mvolunteer.domain.ActivityUser">
    update activity_user
    set activity_id = #{activityId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      activity_user_status_id = #{activityUserStatusId,jdbcType=INTEGER},
      star = #{star,jdbcType=DOUBLE},
      sign_in_status = #{signInStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, activity_id, user_id, activity_user_status_id, star, sign_in_status
    from activity_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, activity_id, user_id, activity_user_status_id, star, sign_in_status
    from activity_user
  </select>
  <!-- 根据用户id和活动id查询出关系表中符合条件的记录的id -->
  <select id="selectPrimaryKeyByUserIdAndActivityId" resultType="java.lang.Integer">
    SELECT
      activity_user.id
    FROM
      activity_user
    WHERE
      activity_id = #{activityId}
    AND
      user_id = #{userId}
  </select>
</mapper>